{% block content %}
<h2>Вы действительно хотите удалить?</h2>
<table>
    <thead>
        <th>
            Автор
        </th>
        <th>
            Название
        </th>
        <th>
            Текст
        </th>
    </thead>
    <tr>
        <td>
            {{ post.author }}
        </td>
        <td>
            {{ post.title }}
        </td>
        <td>
            {{ post.text }}
        </td>
    </tr>
</table>
 
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}