{% extends 'flatpages/default.html' %}
 

{% block content %}


    <h1>Все новости</h1>
    <hr>
    <a href="/news/add/">Добавить новости</a>
    {% if news %} <!-- Если есть товары, то выводим таблицу с ними -->
        {% for post in news %}
        <h2>{{ post.title }}</h2>
        {{ post.dateCreation|date:'M d Y' }}<br>
        {{ post.text|truncatechars:50 }}<br>
        <a href="/news/{{post.pk}}/edit/">редактировать</a><br>
        <a href="{% url 'post_delete' post.id %}"><u> Удалить </u></a>
        {% endfor %}
    {% else %}
        <h2>новостей нет!</h2>
    {% endif %}
    {% if is_paginated %}
    <br>
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}
 
    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
 
    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
 
{% endif %}


{% endblock content %}